header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    padding: 6px 0 0 0;
    margin-bottom: 40px;
    text-align: center;
    border-bottom: black solid 14px;
    background-color: rgb(174, 0, 0);
    box-shadow: 0 0 30px 50px rgb(255, 255, 245);
}

header img {
    height: 100px;
    width: auto;
    margin: 10px 0;
}