<div class="wrapper">
    <div class="pokemon-grid">
        <div
        class="box"
        *ngFor="let pokemon of pokemons | paginate: { itemsPerPage: 12, currentPage: page, totalItems: totalPokemons }"
        >
            <img [src]="pokemon.sprites.front_default" alt="Pokemon">
            <div class="pokeName">{{ pokemon.name }}</div>
            <div class="pokeDes">
                <div>
                    <b>Type:</b> {{ pokemon.types[0].type.name }}
                </div>
                <div>
                    <b>Health:</b> {{ pokemon.stats[0].base_stat }}
                </div>
            </div>
            <div class="pokeDes">
            <div>
                <b>Height:</b> {{ pokemon.height }}
            </div>
            <div>
                <b>Weight:</b> {{ pokemon.weight }}
            </div>
            </div>
            <div>
                <b>Attack Power:</b> {{ pokemon.stats[1].base_stat }}
            </div>
        </div>
    </div>

    <pagination-controls (pageChange)="page = $event; pokemons = []; getPokemons()"></pagination-controls>
</div>